# stable diffusion
# pip install -e git+https://github.com/CompVis/stable-diffusion.git@main#egg=latent-diffusion
# pip install -e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
git+https://github.com/hlky/k-diffusion-sd#egg=k_diffusion
git+https://github.com/openai/CLIP#egg=clip
pytorch-lightning==1.7.3
transformers==4.21.2
diffusers==0.2.4
omegaconf==2.2.3

# web server
tinydb==4.7.0
Flask==2.2.2
Pillow==9.2.0
waitress==2.1.2
