# stable diffusion
# TODO: need to be redone
# diffusers==0.2.4
# transformers==4.21.1 
# scipy==1.9.0
# ftfy==6.1.1

# pip install -e git+https://github.com/CompVis/stable-diffusion.git@main#egg=latent-diffusion
# pip install -e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
# pip install -e git+https://github.com/hlky/k-diffusion-sd#egg=k_diffusion

# web server
tinydb==4.7.0
Flask==2.2.2
Pillow==9.2.0
waitress==2.1.2